# Android generated
bin/
gen/
app/*.*
!app/lint.xml

# Maven
target/
pom.xml.*
release.properties

# Android Studio/IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Mac
.DS_Store

# Ignore gradle files
.gradle/
build/

local.properties
*.jks

